- provide(:title, "Eatability of #{@recipe[:name].titleize}")
.row
  = link_to "Back", new_recommendation_path, class: "button tiny back"
  .row.clear
    %h1 #{@recipe[:name].titleize}
    %h2 Eatability rating: #{@recipe[:average_rating]} out of 10
    %h2 (0 = loose stool, 10 = normal stool)
