- provide(:title, 'Food Dump')
%h1 FoodDump
%p what's it all about?
= link_to "New Food", new_ingredient_path
= link_to "New Poop", new_rating_path
= link_to "New Recommendation", new_recomendation_path

