---
http_interactions:
- request:
    method: get
    uri: https://api.yummly.com/v1/api/recipes?_app_id=8f303a51&_app_key=aff06d00c9a604466f6f1cd0e42927c7&q=Fried%20Apple%20Pie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Yummly-Request-Id:
      - 73ada299-090a-49ac-bbbe-09f0a99304f7
    body:
      encoding: UTF-8
      string: "{\"attribution\":{\"html\":\"Recipe search powered by <a href='http://www.yummly.com/recipes'><img
        alt='Yummly' src='http://static.yummly.com/api-logo.png'/></a>\",\"url\":\"http://www.yummly.com/recipes/\",\"text\":\"Recipe
        search powered by Yummly\",\"logo\":\"http://static.yummly.com/api-logo.png\"},\"totalMatchCount\":81,\"facetCounts\":{},\"matches\":[{\"smallImageUrls\":[\"http://lh4.ggpht.com/OyBbH5fm9qr0ZljzrWrTj-Hxxw-X1FjtcohSeS1VN9YmO57k77f0LLmvq6atpX74yXtPZaltx31bMyvIOIShunA=s90\"],\"ingredients\":[\"butter\",\"light
        brown sugar\",\"apple cider\",\"heavy cream\",\"ground cinnamon\",\"dough\",\"oil\",\"granny
        smith apples\",\"graham cracker crumbs\",\"jack daniels\",\"yolk\",\"salt\",\"sugar\",\"all-purpose
        flour\",\"milk\",\"glucos syrup\",\"vanilla beans\"],\"flavors\":{\"sour\":0.6666666666666666,\"salty\":1.0,\"sweet\":1.0,\"meaty\":0.6666666666666666,\"bitter\":0.6666666666666666},\"imageUrlsBySize\":{\"90\":\"http://lh6.ggpht.com/MfwTxE0PNpgSdk6Z3TcGoTGknlRQHuG7n6rwPWKpUIylMuUv_V-lTWPEeOWYlqUBzBZDa7E-3tIRHgaBygXgrA=s90-c\"},\"attributes\":{\"course\":[\"Desserts\"],\"holiday\":[\"fall\"]},\"totalTimeInSeconds\":4500.0,\"rating\":5,\"recipeName\":\"Fried
        Apple Pie\",\"sourceDisplayName\":\"Food Republic\",\"id\":\"Fried-Apple-Pie-511438\"},{\"smallImageUrls\":[\"http://yummly-recipeimages-compressed.s3.amazonaws.com/Fried-Apple-Pies-Allrecipes-2.s.jpg\",\"http://yummly-recipeimages-compressed.s3.amazonaws.com/Fried-Apple-Pies-Allrecipes-61226.s.png\"],\"ingredients\":[\"ground
        cinnamon\",\"vegetable oil\",\"salt\",\"all-purpose flour\",\"apples\",\"cold
        water\",\"shortening\",\"white sugar\"],\"flavors\":{\"sour\":0.6666666666666666,\"salty\":0.0,\"sweet\":0.8333333333333334,\"meaty\":0.6666666666666666,\"bitter\":0.16666666666666666},\"imageUrlsBySize\":{\"90\":\"http://lh3.ggpht.com/OgcI9p-yycBzCgDhWAXq2-GS349ry0HO49GcZPHzpwfTXR0UApwgS-AvLFhsxH0KwF-dtclFILk1KhypGLymFA=s90-c\"},\"attributes\":{\"course\":[\"Desserts\"],\"cuisine\":[\"southern\"]},\"totalTimeInSeconds\":3300.0,\"rating\":5,\"recipeName\":\"Fried
        Apple Pies\",\"sourceDisplayName\":\"AllRecipes\",\"id\":\"Fried-Apple-Pies-Allrecipes\"},{\"smallImageUrls\":[\"http://yummly-recipeimages-compressed.s3.amazonaws.com/Low-sugar-and-flourless-apple-cranberry-crumble-309656-274109.s.jpg\"],\"ingredients\":[\"almond
        meal\",\"butter\",\"oatmeal\",\"ground cinnamon\",\"dried cranberries\",\"apple
        pie spice\",\"splenda\",\"apples\"],\"flavors\":n[...]
