---
http_interactions:
- request:
    method: get
    uri: https://api.yummly.com/v1/api/recipes?_app_id=8f303a51&_app_key=aff06d00c9a604466f6f1cd0e42927c7&q=Crave-Worthy%20Sugar%20Cookies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Yummly-Request-Id:
      - 30adc9fe-4598-4045-bac8-b68d63948fca
    body:
      encoding: UTF-8
      string: "{\"attribution\":{\"html\":\"Recipe search powered by <a href='http://www.yummly.com/recipes'><img
        alt='Yummly' src='http://static.yummly.com/api-logo.png'/></a>\",\"url\":\"http://www.yummly.com/recipes/\",\"text\":\"Recipe
        search powered by Yummly\",\"logo\":\"http://static.yummly.com/api-logo.png\"},\"totalMatchCount\":1,\"facetCounts\":{},\"matches\":[{\"smallImageUrls\":[\"http://yummly-recipeimages-compressed.s3.amazonaws.com/Crave-worthy-sugar-cookies-335987-298757.s.jpg\"],\"ingredients\":[\"baking
        soda\",\"baking powder\",\"almond extract\",\"unsalted butter\",\"large eggs\",\"cream
        cheese\",\"salt\",\"sugar\",\"all-purpose flour\",\"vanilla extract\"],\"flavors\":{\"sour\":0.6666666666666666,\"salty\":0.6666666666666666,\"sweet\":0.8333333333333334,\"meaty\":0.6666666666666666,\"bitter\":0.3333333333333333},\"imageUrlsBySize\":{\"90\":\"http://lh4.ggpht.com/gIk7oHXYaV6xvN_c-GJKPUKfJcFJ-PbVjpTcIk-eQM4nNZPssspMsxv4zhYx5QsfLlDSuv4yiFYUEqqsLZlQuww=s90-c\"},\"attributes\":{\"course\":[\"Desserts\"],\"holiday\":[\"christmas\"]},\"totalTimeInSeconds\":1800.0,\"rating\":5,\"recipeName\":\"Crave-Worthy
        Sugar Cookies\",\"sourceDisplayName\":\"Once Upon A Chef\",\"id\":\"Crave-worthy-sugar-cookies-335987\"}],\"criteria\":{\"excludedIngredients\":null,\"allowedIngredients\":null,\"terms\":null}}"
  recorded_at: Thu, 06 Mar 2014 19:00:59 GMT
recorded_with: VCR 2.8.0
