---
http_interactions:
- request:
    method: get
    uri: https://api.yummly.com/v1/api/recipes?_app_id=8f303a51&_app_key=aff06d00c9a604466f6f1cd0e42927c7&q=Oreo%20Stuffed%20Chocolate%20Chip%20Cookies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Yummly-Request-Id:
      - ab158a96-7475-4518-8b0e-1b40447b916d
    body:
      encoding: UTF-8
      string: "{\"attribution\":{\"html\":\"Recipe search powered by <a href='http://www.yummly.com/recipes'><img
        alt='Yummly' src='http://static.yummly.com/api-logo.png'/></a>\",\"url\":\"http://www.yummly.com/recipes/\",\"text\":\"Recipe
        search powered by Yummly\",\"logo\":\"http://static.yummly.com/api-logo.png\"},\"totalMatchCount\":9,\"facetCounts\":{},\"matches\":[{\"smallImageUrls\":[\"http://lh4.ggpht.com/hIBRHsiTkpL-mSuD9eaNCHhHvMwaNg6r-a5ohRmdvko5BiPui6lI-FlzulwJQsTtXS11oSypHRkFolkAA5DT=s90\",\"http://lh3.ggpht.com/4UqaRymGKnNxL1383pdgAByK2-N9L7n4IJZnCn9LdjfYI-MSxtf3zoLy_M3JRJjrSi6I8qeZfKg2Yh3DrlWZn24=s90\",\"http://lh4.ggpht.com/WC61YiOja_yViIsBfSmC6aExLh64nylz4Pwug3ggUJLuX_-R8alSXUVSKImKUJlB7I4bQsDuf2ki2GZOQkbJ=s90\",\"http://lh6.ggpht.com/YFFS582Er53GW-ZJsRiY4cLRWX1fVgVXKtXV33yTqZnRCTyYwfvIQiU5G9Kf5IzkR1xtN4ZSGcFlOO8FQH3KNw=s90\"],\"ingredients\":[\"light
        brown sugar\",\"baking soda\",\"chocolate chips\",\"softened butter\",\"kosher
        salt\",\"pure vanilla\",\"large eggs\",\"granulated sugar\",\"all-purpose
        flour\",\"Oreo Cookies\"],\"flavors\":{\"sour\":0.6666666666666666,\"salty\":0.6666666666666666,\"sweet\":1.0,\"meaty\":0.6666666666666666,\"bitter\":1.0},\"imageUrlsBySize\":{\"90\":\"http://lh4.ggpht.com/-Xj8r0KTP-qGU4nYJFLSZbG8OYZw7KIacdYWsgxRqrS6VlQASXkyUw0qKk3HH5_S5sicDu7ZlgrKmpajzbSJ=s90-c\"},\"attributes\":{\"course\":[\"Desserts\"]},\"totalTimeInSeconds\":null,\"rating\":5,\"recipeName\":\"Oreo
        Stuffed Chocolate Chip Cookies\",\"sourceDisplayName\":\"Picky Palate\",\"id\":\"Sanjeeta-kk-334780\"},{\"smallImageUrls\":[\"http://yummly-recipeimages-compressed.s3.amazonaws.com/Oreo-Stuffed-Chocolate-Chip-Cookies-MyRecipes-240265-128535.s.png\"],\"ingredients\":[\"light
        brown sugar\",\"baking soda\",\"chocolate chips\",\"softened butter\",\"large
        eggs\",\"salt\",\"granulated sugar\",\"all-purpose flour\",\"vanilla\",\"oreo
        cookies\"],\"flavors\":{\"sour\":0.6666666666666666,\"salty\":0.6666666666666666,\"sweet\":1.0,\"meaty\":0.6666666666666666,[...]
