---
http_interactions:
- request:
    method: get
    uri: https://api.yummly.com/v1/api/recipes?_app_id=8f303a51&_app_key=aff06d00c9a604466f6f1cd0e42927c7&q=Mashed%20Potatoes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Yummly-Request-Id:
      - 8de8aa89-2145-41f1-ae54-f962958d14d1
    body:
      encoding: UTF-8
      string: "{\"attribution\":{\"html\":\"Recipe search powered by <a href='http://www.yummly.com/recipes'><img
        alt='Yummly' src='http://static.yummly.com/api-logo.png'/></a>\",\"url\":\"http://www.yummly.com/recipes/\",\"text\":\"Recipe
        search powered by Yummly\",\"logo\":\"http://static.yummly.com/api-logo.png\"},\"totalMatchCount\":5167,\"facetCounts\":{},\"matches\":[{\"smallImageUrls\":[\"http://lh6.ggpht.com/YyQSPanacARdyVmcSrniVE38hMCLVEx6P3_ufOifVyBa7KFmPZknH9SuKio3c7lWUiT0GwhnjtlXItJfiVGQpQ=s90\"],\"ingredients\":[\"salted
        butter\",\"fresh chives\",\"potatoes\",\"salt\"],\"flavors\":{\"sour\":0.5,\"salty\":0.3333333333333333,\"sweet\":0.16666666666666666,\"meaty\":0.3333333333333333,\"bitter\":0.16666666666666666},\"imageUrlsBySize\":{\"90\":\"http://lh6.ggpht.com/9tGqhJXYqEfDFml4Cwu-Fy7NmoYoa-4XCw72IpxwoYSL_t5eVknP6ByeVQD96brND7CQ9k3KTzHJ-QqegF6jY0M=s90-c\"},\"attributes\":{},\"totalTimeInSeconds\":3300.0,\"rating\":5,\"recipeName\":\"Very
        Best Mashed Potatoes\",\"sourceDisplayName\":\"Steamy Kitchen\",\"id\":\"Very-Best-Mashed-Potatoes-513682\"},{\"smallImageUrls\":[\"http://lh3.ggpht.com/RxytW_IbRSDahJLuqqzcHix-CZYeqY1nDFLlgjM9q9Eb4UGL_sl3h2S3pAL6fUkl5uBFhTDk2AsvY1UvCt5sG54=s90\"],\"ingredients\":[\"chopped
        fresh chives\",\"heavy cream\",\"italian parsley leaves\",\"kosher salt\",\"unsalted
        butter\",\"red potato\",\"ground black pepper\"],\"flavors\":{\"sour\":0.3333333333333333,\"salty\":0.16666666666666666,\"sweet\":0.16666666666666666,\"meaty\":0.5,\"bitter\":0.16666666666666666}[...]
