body{
  background: #211c19;
  color: #baaeae;
  text-align: center;

  #registration{
    margin-top: 20px;
    float: right;
  }

  .title{
    font-size: 5em;
  }

  h1, h2, h3, h4, h5, h6{
    color: #baaeae;
  }

  .save_button{
    margin-top: 20px;
  }

  .top_button{
    margin-right: 30px;
    margin-left: 30px;
    width: 180px;
  }

  .absolute{
    position: relative;
  }

  .back{
    float: left;
  }

  .clear{
    clear: both;
  }

  .inline{
    display: inline;
  }

  #rating_scale{
    width: 10%;
  }

  .center{
    margin: auto;
  }
}
