// Place all the styles related to the Rating controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type='range'][name='rating[scale]'] {
  background: #e8e876;
  background: -moz-linear-gradient(left, #e8e876 1%, #844201 51%, #281b00 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(1%,#e8e876), color-stop(51%,#844201), color-stop(100%,#281b00));
  background: -webkit-linear-gradient(left, #e8e876 1%,#844201 51%,#281b00 100%);
  background: -o-linear-gradient(left, #e8e876 1%,#844201 51%,#281b00 100%);
  background: -ms-linear-gradient(left, #e8e876 1%,#844201 51%,#281b00 100%);
  background: linear-gradient(to right, #e8e876 1%,#844201 51%,#281b00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e876', endColorstr='#281b00',GradientType=1 );
}
input[type='range'][name='rating[scale]']::-webkit-slider-thumb {
}
